/* you can also define the transition style
   on the base class as well (.repeat-item) */
.repeat-item.ng-enter {
    -webkit-transition:0.5s linear all;
    transition:0.5s linear all;
}

.repeat-item.ng-enter,
.repeat-item.ng-leave.ng-leave-active {
    opacity:0;
}

.repeat-item.ng-enter.ng-enter-active {
    opacity:1;
}
