<link rel="stylesheet" href="angular/home/home.css">
<link rel="stylesheet" href="angular/stats/stats.css">

<h1>Home</h1>
<a class="btn btn-lg btn-primary" href="#/upload">Add new receipt</a>

<h2 ng-show="!receipts && !loading">You haven't uploaded any receipts yet!</h2>

<div ng-show="receipts" class="receipt-history-list col-xs-11">
  <h2>History</h2>
<div class="row col-xs-11">
  <fs-date-histo bind="histogramData" interval="day" barwidth="20"/>
</div>
  <div ng-repeat="receipt in receipts |startFrom: currentPage*pageSize| limitTo:pageSize" class="repeat-item row">
    <div class="receipt-entry-fadeout list-group col-xs-11">
      <a class="list-group-item" ng-click="selectReceipt(receipt)">
        <h2 class="pull-right list-group-item-heading receipt-sum">{{receipt.total_sum}} €</h2>
        <h4 class="list-group-item-heading">{{receipt.shop_name}}</h4>
        <div class="list-group-item-text">
          <p class="">
            Date: <strong>{{receipt.date | date: 'yyyy-MM-dd' }}</strong> Product count: <strong>{{receipt.products.length}}</strong>
        </p></div>
      </a>
    </div>
    <button type="button" ng-click="deleteReceipt(receipt['_id']); $event.preventDefault()" class="close pull-left"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  </div>

</div>

<div class="row col-xs-12">

  <button class="btn btn-default" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
    Previous
  </button>
  {{currentPage+1}}/{{numberOfPages()}}
  <button class="btn btn-default" ng-disabled="currentPage >= receipts.length/pageSize - 1" ng-click="currentPage=currentPage+1">
    Next
  </button>

</div>
