/* AUTOCOMPLETE */

.autocomplete{
    width: 100%;
    position: relative;

}

.autocomplete input{
    font-size: 1.2em;
    width: 100%;
    padding:0.4em;

    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

}

.autocomplete ul{
    position: absolute;
    left: 0;
    width: 100%;
    border-left: 1px solid #888;
    border-right: 1px solid #888;
    border-bottom: 1px solid #888;
    z-index: 1;

    /* HACKFIX strange 40px padding by browser useragent */
    -webkit-padding-start: 0px;
    -moz-padding-start: 0px;
}

.autocomplete li{
    text-align: left;
    list-style:none;
    width: 100%;
    padding:0.4em;
    background-color: #fff;
}

.autocomplete li.active{
    width: 100%;
    background-color: #4bf;
}

.autocomplete .highlight {
    background-color: #E2E2E2;
}

.autocomplete li.active .highlight {
    background: #666;
    color: #fff;
}
