Flask==0.10.1
Flask-PyMongo==0.3.0
Jinja2==2.7.3
MarkupSafe==0.23
Werkzeug==0.15.3
argparse==1.2.1
arrow==0.4.4
backports.ssl-match-hostname==3.4.0.2
certifi==14.05.14
greenlet==0.4.4
itsdangerous==0.24
passlib==1.6.2
pymongo==2.7.2
python-dateutil==2.2
six==1.8.0
tornado==4.0.2
wsgiref==0.1.2
