<h1>Home</h1>
<a class="btn btn-lg btn-default" href="#/upload">Upload new receipt</a>

<div class="receipt-history-list">
  <h2>Recent history</h2>
<div ng-repeat="receipt in receipts">
  <div class="list-group col-xs-11">

      <a class="list-group-item" ng-click="selectReceipt(receipt)">
        <h2 class="pull-right list-group-item-heading receipt-sum">{{receipt.total_sum}} €</h2>
        <h4 class="list-group-item-heading">{{receipt.shop_name}}</h4>
        <p class="list-group-item-text">
          {{receipt.date}}
        </p>
      </a>
  </div>
  <button type="button" ng-click="deleteReceipt(receipt['_id']); $event.preventDefault()" class="close pull-left"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
</div>
</div>
