<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <html ng-app="myApp">
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <!-- Normal Bootstrap mobile view -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- Disable zoom -->
      <!-- <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"> -->

      <title>ScannerApp</title>

      <link rel="stylesheet" href="css/style.css" type="text/css">
      <link rel="stylesheet" href="css/bootstrap.min.css">
      <link rel="stylesheet" href="angular/components/loading-indicator/loading-bar.css">
      <!-- <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/animate.css/3.1.0/animate.min.css"> -->

      <!--[if lt IE 9]>
          <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
          <![endif]-->
  </head>

  <body>
    <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

    <ul ng-controller="NavbarController" class="nav nav-tabs">

      <li ng-if="user" ng-class="{ active: isActive('/home')}"><a href="#/home">Home</a></li>
      <li ng-if="user" ng-class="{ active: isActive('/upload')}"><a href="#/upload">Upload</a></li>
      <li ng-if="user" ng-class="{ active: isActive('/stats')}"><a href="#/stats">Statistics</a></li>

      <li ng-if="!user" ng-class="{ active: isActive('/register')}"><a href="#/register">Register</a></li>
      <li ng-class="{ active: isActive('/about')}"><a href="#/about">About</a></li>

      <!-- <li ng-class="{ active: isActive('/')}"><a href="#/">Index</a></li> -->

      <button ng-if="user" class="login-button-style btn btn-default pull-right" ng-click="logout()"><span class="glyphicon glyphicon-log-out"></button>
      <button ng-if="!user" class="login-button-style btn btn-default pull-right" ng-click="login()">Login<span class="glyphicon glyphicon-log-in"></button>

    </ul>

    <!-- Container for dynamic page content, which is animated. -->
    <div class="container"><div ng-view class="view-animate"></div></div>

    <!-- Load libs -->
    <script src="libs/angular-file-upload-html5-shim.js"></script>
    <script src="libs/jquery.js"></script>
    <script src="libs/angular.js"></script>
    <script src="libs/angular-route.js"></script>
    <script src="libs/angular-cookies.js"></script>
    <script src="libs/angular-animate.js"></script>
    <script src="libs/bootstrap.js"></script>
    <script src="libs/angular-file-upload.js"></script>
    <script src="libs/underscore.js"></script>
    <script src="libs/d3.js"></script>

    <script src="angular/app.js"></script>

    <script src="angular/home/home-controller.js"></script>
    <script src="angular/upload/upload-controller.js"></script>
    <script src="angular/receipt/receipt-controller.js"></script>
    <script src="angular/receipt/receipt-service.js"></script>
    <script src="angular/register/register.js"></script>
    <script src="angular/navbar/navbar-controller.js"></script>
    <script src="angular/root/root-controller.js"></script>
    <script src="angular/user-authentication.js"></script>

    <script src="angular/stats/stats-controller.js"></script>
    <script src="angular/stats/data-visualization-directives.js"></script>
    <script src="angular/components/loading-indicator/loading-bar.js"></script>
    <script src="angular/autocomplete/autocomplete.js"></script>
  </body>
</html>
