<h3>Scan new receipt</h3>
<div class="fileUpload btn btn-primary">
  <span>Select file or use mobile camera</span>
  <input type="file" class="upload" ng-file-select="onFileSelect($files)">
</div>
<div ng-file-drop="onFileSelect($files)" ng-file-drag-over-class="optional-css-class-name-or-function"
     ng-show="dropSupported" class="upload-drop-box">drop files here</div>
<div ng-file-drop-available="dropSupported=true"
     ng-show="!dropSupported">HTML5 Drop File is not supported!</div>

<!-- <button ng-click="upload.abort()">Cancel Upload</button> -->
