Flask==0.10.1
Flask-PyMongo==0.3.0
Flask-RESTful==0.2.12
Jinja2==2.11.3
MarkupSafe==0.23
Werkzeug==0.9.6
aniso8601==0.82
argparse==1.2.1
arrow==0.4.4
gnureadline==6.3.3
ipdb==0.8
ipython==2.2.0
itsdangerous==0.24
passlib==1.6.2
pymongo==2.7.2
python-dateutil==2.2
pytz==2014.4
six==1.7.3
wsgiref==0.1.2
