.my-drop-zone {
    border: dotted 3px lightgray;
}
.ng-file-over {
    border: dotted 3px red;
}
/* Default class applied to drop zones on over */

.another-file-over-class {
    border: dotted 3px green;
}
html,
body {
    height: 100%;
}
canvas {
    background-color: #f3f3f3;
    -webkit-box-shadow: 3px 3px 3px 0 #e3e3e3;
    -moz-box-shadow: 3px 3px 3px 0 #e3e3e3;
    box-shadow: 3px 3px 3px 0 #e3e3e3;
    border: 1px solid #c3c3c3;
    height: 100px;
    margin: 6px 0 0 6px;
}
/* Add some space to product list */

.receipt-product-row {
    margin-bottom: 20px;
}

.loading {
    /* padding: 20px; */
    margin-top: 15px;
    /* width: 80px; */
}

.receipt-sum {
    padding: 5px;
    margin: 5px;
}



.login-button-style {
    margin-top: 4px;
    margin-right: 3px;
}
